<mat-card>

    <mat-card-title class="text-center"><b><i>Current-Batch-Details</i></b></mat-card-title>
    
    <div class="container-fluid">
    
        <div class="row pt-5">
    
            <div class="col-md-4 text-center">
           
            <h3><b><i>Batch-Name</i></b>:{{batch.batchName}}</h3><br>
            <h3 class="p-2"><b><i>Start-Date</i></b>:{{batch.batchStartDate}}</h3><br>
            <h3 class="p-2"><b><i>End-Date</i></b>:{{batch.batchEndDate}}</h3>
    
           </div>
    
    
           <div class="col-md-4 text-center">
    
          <h3><b><i>Batch-Name </i></b></h3>
    
          <h2 class="p-2"> {{user.batchName}} </h2>
    
          
    
           </div>
    
           <div class="col-md-4 text-center">
    
           <h3><b><i>Your Batch Groups</i></b></h3>
    
           <h2><b><i>{{user.batchGroup}}</i></b></h2><br>
           
    
    
           </div>
    
    
    
        </div>
    
    
    
    
    </div>
    
    
    </mat-card>