

<h2 class="text-center"><b><i>Change Password</i></b></h2>


<form class="text-center" #myForm="ngForm">

    <div class="form group text-center">


        <label><b><i>Username</i></b></label><br>

        <input type="text" name="username"  [(ngModel)]="user.username" >

</div>


<div class="form group text-center">


    <label><b><i>Mobile No</i></b></label><br>

    <input type="number" name="username"  [(ngModel)]="user.mobile" >

</div>




    



   
<button type="submit" class="btn btn-primary" (click)="changePassword()">Submit</button>



    <button type="submit" class="btn btn-primary" mat-dialog-close>Go Back</button>











</form>