input{

    width: 70%;
    height: 35px;
    margin-left: 5%;
    margin-bottom: 20px;
    border: 0.5px solid black;
    border-radius: 5px;
    outline: none;
    background-color: white;
    padding-left: 45px;
}

select{
    width: 70%;
    height: 35px;
    
    margin-bottom: 20px;
    border: 0.5px solid black;
    border-radius: 5px;
    outline: none;
    background-color: white;
    padding-left: 45px;

}


button{
    width: 20%;
    margin-left: 5%;
    border: .5px solid blue;
    border-radius: 8px;
}


